* {
  margin: 0;
  padding: 0;
}
html {
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}
body {
  -webkit-text-size-adjust: 100%;
  font: 15px/24px 'Helvetica Neue',Helvetica,Arial,Sans-serif;
  color: #666;
  font-weight: 100;
  margin: 12px;
}
div.title { 
  font-size: 28px;
  letter-spacing: 3px;
  padding: 2px;
  padding-left: 10px;
  margin-bottom: 20px;
  border-left: 4px solid #79BDA8;
}
ul li {
  display: block;
  margin-bottom: 25px;
}
ul li a {
  color: #777;
  text-decoration: none;
  letter-spacing: 1px;
}
ul li p.content-time {
  font-size: 12px;
  color: #CCC;
  float: right;
  margin-right: 10px;
  margin-left: 16px;
}
div.article-title {
  font-size: 19px;
  border-left: 4px solid #EF8575;
  padding-left: 10px;
  margin-bottom: 25px;
}
p.content {
  margin-bottom: 15px;
  text-indent: 2em;
  color: #777;
  letter-spacing: 1px;
}